*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
   
    background: lightslategrey;
}
   
.first{
    display: flex;
    flex-direction: row;
    margin: 1rem auto 1rem;
    margin-left: -2rem;
}
.card{
    width: 200%;
    max-width: 600px;
 /*   background: linear-gradient(135deg, #00feba, #5b548a);  */
    color: #fff;
    margin: 0 auto 0.5rem;
    border-radius: 20px;
    padding: 4rem;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   /* justify-content: space-between;  */
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 1rem 3rem;
    height: 60px;
    border-radius: 30px;
    flex-wrap: wrap;
    margin-right: 1rem;
    font-size: 1.5rem;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 2rem;
}
.weather h1{
    font-size: 4rem;
    font-weight: bold;
}
.weather h2{
    font-size: 3rem;
    font-weight: bold;
    
}
.details{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    margin-inline: 2rem;
}
.col{
    display: flex;
    align-items: center;
    
    
}
.col img{
    width: 45px;
}
.humidity{
    font-size: 2rem;
    margin-inline: 0.5rem;

} 
.wind{
    font-size: 1.5rem;
    margin-inline: 0.5rem;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    display: none;
}

#xx{
    margin: 1rem;
}

.row img{
    width: 60px;

}
























